logs
target
/project/target/config-classes
/MarkDown/figure
/MarkDown/RMD
/MarkDown/Rshell
R.Rout
README.md
LICENSE
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
*.Rout
/conf/logback.xml
/conf/logback2.xml