/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  opacity: 1;
  padding-top: 46px;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s;
}

.ng-cloak {
  opacity: 0;
}

/*.ng-invalid {
  border: 1px solid red !important;
}*/

.uib-datepicker-popup .btn {
  border: none;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #293038;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  color: #fff;
  padding-right: 20px;
  padding-left: 0;
  overflow: hidden;
}
.nav-sidebar > li > a:hover {
  background-color: #293038;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.help-content img {
    max-width: 100%;
    height: auto;
}

.sidebarW50 {
  width: 50px;
}
.mainMl50 {
  width: 93%;
  margin-left: 70px;
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  background: #09C;
}
.navbar-default .navbar-brand {
  padding-right: 47px;
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #008fbf;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-nav>li.active>a:hover {
  color: #fff;
  background-color: #008fbf;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #008fbf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.sidebar-fold {
  margin: -20px -20px 0;
  height: 40px;
  background: #394555;
  color: #aeb9c2;
  text-align: center;
  line-height: 40px;
  color: #aeb9c2;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.sidebar-fold i {
  transform: rotate(-90deg);
}
.nav-sidebar a:hover .nav-icon{
  color: #fff;
}
.nav-sidebar > .active .nav-icon{
  color: #fff;
}
.nav-sidebar .nav-icon {
  width: 50px;
  text-align: center;
  font-size: 18px;
  float: left;
  color: #aeb9c2;
}
.nav-sidebar .nav-title {
  float:left;
}
.rmarkdown {
  position: relative;
  top: 3px;
  height: 16px;
  background: url(../images/rmarkdown.png) no-repeat;
}

.new-opt-btns {
  position: relative;
  top: -509px;
  right: 6px;
  z-index: 100;
}

.form-validation .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}
.form-validation .form-control.ng-dirty.ng-valid,
.form-validation .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}

.form-horizontal .form-group.mlr0 {
  margin-left: 0;
  margin-right: 0;
}
