<h1 class="page-header">Reports</h1>
<div ng-controller="reportsCtrl as $ctrl">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>报告名称</th>
          <th>执行周期类型</th>
          <th>时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.list track by $index">
          <td>{{item.report_id}}</td>
          <td>{{item.reportName}}</td>
          <td>{{item.execute_type == 'once' ? '一次性执行' : '循环执行'}}</td>
          <td>
            <div ng-if="item.execute_type == 'once'">
              执行时间: {{item.once_scheduled_execute_time  | date:'yyyy-MM-dd hh:mm:ss'}}
            </div>
            <div ng-if="item.execute_type != 'once'">
              更新时间: {{item.report_last_execution_time | date:'yyyy-MM-dd hh:mm:ss'}}<br>
              循环时间: {{item.circle_scheduled_start_time  | date:'yyyy-MM-dd hh:mm:ss'}} ~ {{item.circle_scheduled_finish_time  | date:'yyyy-MM-dd hh:mm:ss'}}<br>
              循环间隔: {{item.circle_scheduled_interval_minutes}}分钟
            </div>
          </td>
          <td>
              <span class="label" ng-class="item.taskid? 'label-info':'label-success'">{{item.taskid ? '待执行':'已执行'}}</span>
          </td>
          <td><a ng-if="!!item.taskid" href="/reportR/{{item.owner_nickName+'_ReportTask_'+item.taskid}}" target="_blank">查看</a> <!--a ng-link="['new', {report: item}]">修改</a--></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <uix-pager class="pagination-sm" ng-show="$ctrl.pages.totalCount > $ctrl.pages.pageSize"
                               total-items="$ctrl.pages.totalCount" ng-model="$ctrl.pages.pageNo"
                               ng-change="$ctrl.pageChanged()">
                    </uix-pager>
    </div>
  </div>
</div>
