<h1 class="page-header">Reports</h1>
<div class="" ng-controller="reportsCtrl as $ctrl">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>报告名称</th>
          <th>执行周期类型</th>
          <th>更新时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.list track by $index">
          <td>{{item.id}}</td>
          <td>{{item.reportName}}</td>
          <td>{{item.execute_type}}</td>
          <td>{{item.modify_time  | date:'yyyy-MM-dd'}}</td>
          <td><a href="/reportR/{{item.reportUrl}}" target="_blank">查看</a></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <uix-pager class="pagination-sm" ng-show="$ctrl.pages.totalCount > $ctrl.pages.pageSize"
                               total-items="$ctrl.pages.totalCount" ng-model="$ctrl.pages.pageNo"
                               ng-change="$ctrl.pageChanged()">
                    </uix-pager>
    </div>
  </div>
</div>
